.desktop {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-position: 50% 50%;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .desktop .rectangle {
    filter: blur(19.8px);
    position: absolute;
    width: 331px;
    height: 437px;
    top: 501px;
    left: 1159px;
    background-color: #454545;
  }
  
  .desktop .div {
    position: absolute;
    width: 331px;
    height: 437px;
    top: 501px;
    left: 1159px;
    background-color: #454545;
  }
  
  .desktop .lukepfp {
    width: 296px;
    height: 296px;
    top: 516px;
    left: 1177px;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .img {
    width: 256px;
    height: 256px;
    top: 536px;
    left: 1197px;
    position: absolute;
    object-fit: cover;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 256px;
    height: 54px;
    top: 791px;
    left: 1197px;
    font-family: "Minecraft-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 43px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .spotify-logo-without {
    position: absolute;
    width: 38px;
    height: 38px;
    top: 861px;
    left: 1216px;
    object-fit: cover;
  }
  
  .desktop .dc {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 857px;
    left: 1273px;
    object-fit: cover;
  }
  
  .desktop .twitch-logo {
    position: absolute;
    width: 36px;
    height: 38px;
    top: 861px;
    left: 1338px;
    object-fit: cover;
  }
  
  .desktop .instagram-logo-icon {
    position: absolute;
    width: 40px;
    height: 38px;
    top: 861px;
    left: 1393px;
    object-fit: cover;
  }
  